body {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px; 
  background: #ffffff;
  color: #212121;
}

footer {
  background: #2f303a;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2196f3;
}

.logo {
  font-family: "raleway", sans-serif;
  color: #2196f3;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.nav {
  font-style: medium;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.contacts {
  color: #757575;
}
.button-studio {
  background: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  cursor: pointer;
  font-family: "roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.60;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 41px;
}
.our-strengths {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: #757575;
}
.menu {
  display: flex;
  justify-content: center;
  margin-left: -25px;
}

.butoon-portfolio {
  font-family: "roboto";
  font-size: 16px;
  font-style: medium;
  font-weight: 500;
  line-height: 1.39;
  background: #f5f4fa;
  cursor: pointer;
  border: #f5f4fa;
  border-radius: 4px;
  display: inline;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 8px 0px 0px;
  padding: 6px 22px 6px 22px;
}
.butoon-portfolio:focus,
.butoon-portfolio:hover {
  background: #2196f3;
  color: #ffffff;
  border: #2196f3;
  border-radius: 4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description-person {
  font-style: medium;
  letter-spacing: 0.03em;
}
.description-person :last-of-type {
  Font-style: Regular;
  color: #757575;
}
 .description-project {
  font-weight: 700;
  Font-style: Bold;
  Font-size: 18px;
  Line-height: 1.71;
  text-align: Left;
  vertical-align: Top;
  Letter-spacing: 6%;  
}
.description-project :last-of-type {
  Font-style: Regular;
  Font-size: 16px;
  Line-height: 1.6;
  Letter-spacing: 3%;  
  color: #757575;
}

.white-link {
  font-style: normal;
  color: #ffffff;
}
.gray-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
